<section>
  <h1>Hello World, from Phoenix!</h1>

  <div>
    <form action="/search" method="get" class="search-form">
      <input type="text" name="q" placeholder="Search..." />
      <button type="submit">Search</button>
    </form>
  </div>
</section>
